<div class="main">
  <div class="align-display">
    <h1>Add a new vehicle</h1>
    <app-vehicle-input
      (newDataEvent)="appendData($event)"/>
  </div>
<!--  <div class="align-display">-->
<!--    <h1>Add a new FARADAY data</h1>-->
<!--    <yuwei_selector-input/>-->
<!--  </div>-->


  <h2 style="margin-top: 20px;">vehicles list</h2>
  <app-vehicle-wrapper *ngFor="let vehicle of vehicles"
                       (removeItemEvent)="removeItem($event)"
                       [vehicle]="vehicle"
  />

</div>
